.header {
    border-bottom: 1px solid #ececec;

    &__container {
        @extend .container;
        display: flex;
        align-items: center;
    }

    &__logo {
        @extend .logo;
        padding-top: 24px;
        padding-bottom: 25px;
    }

    &__navigation {
        display: flex;
        align-items: center;
    }

    &__link {
        @extend %link;
        display: none;

        @media screen and (min-width: $bp-tablet) {
            position: relative;
            display: flex;
            align-items: center;

            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;

            transition: color 250ms $cubic;

            &:hover,
            &:focus {
                color: $accent;
            }
        }
    }

    &__link--current {
        color: $accent;

        &::after {
            position: absolute;
            content: "";

            width: 100%;
            height: 4px;
            bottom: -1px;

            border-radius: 2px;
            background-color: $accent;

            opacity: 1;
        }
    }

    &__pages {
        @extend %list;
        display: none;

        @media screen and (min-width: $bp-mobile) {
            display: flex;
            gap: 50px;
            margin-left: 93px;
        }
    }

    &__page {
        padding: 32px 0px;
    }

    &__contacts {
        @extend %list;
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            gap: 10px;
            color: $secondaryDark;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 40px;
            flex-direction: row;
        }
    }

    &__contact {
        @media screen and (min-width: $bp-desktop) {
            padding: 32px 0px;
        }
    }

    &__icon {
        margin-right: 10px;
    }

    &__burger {
        @extend .button;
        display: flex;
        align-items: center;

        margin-left: auto;
        width: 40px;
        height: 40px;

        transition: color 250ms $cubic;

        &:hover,
        &:focus {
            color: $accent;
        }

        @media screen and (min-width: $bp-tablet) {
            display: none;
        }
    }
}
