.subscribe {
    max-width: 570px;
    width: 100%;

    &__title {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;

        font-size: 14px;
        line-height: 0.875;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $primaryLight;
    }

    &__container {
        display: flex;
        gap: 12px;

        min-height: 50px;
    }

    &__input {
        padding: 15px 16px;
        width: 100%;

        letter-spacing: 0.03em;
        font-size: 16px;
        line-height: 1.25;

        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

        color: $primaryLight;
        background-color: $footerBg;
    }

    &__button {
        @extend .button;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        min-width: 200px;
        min-height: 50px;

        background-color: $accent;
        color: $primaryLight;
        
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    }
}
