.benefits {
    &__list {
        @extend %list;
        display: flex;
        gap: 30px;
    }

    &__item {
        flex-basis: calc((100% - 90px) / 4);
    }

    &__thumb {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 120px;
        background-color: $secondaryLight;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        margin-bottom: 10px;
    }

    &__description {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

        color: $secondaryDark;
    }
}
