$primaryLight: #ffffff;
$secondaryLight: #f5f4fa;
$footerBg: #2f303a;
$heroBg: #c4c4c4;
$accent: #2196f3;
$heroAccent: #188ce8;
$primaryDark: #212121;
$secondaryDark: #757575;
$tretiaryDark: rgba(255, 255, 255, 0.6);
$IconsPrimaryBg: #afb1b8;
$IconsSecondaryBg: rgba(255, 255, 255, 0.1);
$projectOverlayBg: rgba(33, 150, 243, 0.9);
$backdropBg: rgba(0, 0, 0, 0.2);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$modalFormBorder: rgba(33, 33, 33, 0.2);
$placeholder: rgba(117, 117, 117, 0.5);
